*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
   /* background-color: #353864; */
   background-color: rgb(156, 209, 255);
    padding: 30px;
    margin: 5px;
    /* color: white; */
    color: black;
    position: absolute;
    top: 20%;
    left: 38%;
    /* border: solid rgb(240, 13, 221) 2px; */
    border-radius: 30px;
}
.container h1{
    font-size: 40px;
    text-align: center;
    /* border: 2px solid rgb(240, 13, 221); */
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 13px 21px;
}
.box i{
   width: 40px;
   padding: 20px 0px 0px 10px;
   text-align: center;
    
}
.box{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    border-bottom: 1px solid rgb(226, 12, 226);;
    
}
.box input{
    width: 100%;
    background: none;
    font-size: 18px;
    border:none;
    margin: 13px 0px;
    padding: 5px 0px;
    outline: none;
    color: white;
}
.btn{
    cursor: pointer;
    color: black;
    font-size: 20px;
    outline: none;
    width: 70%;
    margin: 10px 0px 0px 45px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(226, 12, 226);
    background: none;
    transition: 0.8s;
}
.btn:hover{
    background-color: rgb(218, 38, 224);
    color: black;
    border:2px solid #353864;
}